[defaults]
# Path to roles
roles_path = ./roles

# Default inventory (optional)
inventory = ./inventories

# Disable SSH host key checking for Docker
host_key_checking = False

# Colored output
force_color = True

# Do not create .retry files
retry_files_enabled = False

# Better result display (Ansible 2.13+)
stdout_callback = default
result_format = yaml
